# general
alias his='history'
alias ...='cd ../..'
alias ....='cd ../../..'
alias e="emacs"
alias v='vim'
alias vi='vim'
alias so='source'
alias be='bundle exec'
alias ber='bundle exec ruby'

# git
alias g='git'
alias gs='git switch'
alias gpu='git pull'
alias gpsh='git push'
alias gst='git status'
alias gb='git branch'
alias gm='git commit -m'
alias gct='git commit'
alias gg='git grep'
alias ga='git add'
alias gd='git diff'
alias gl='git log'
